* {
    margin: 0;
    padding: 0
}

.loading {
    position: fixed;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #404042;
    padding-top: 150px;
}

.loading div {
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    margin-top: 50px
}

body,
#game {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #333339;
    color: white
}

#checkerboard {
    position: absolute;
    top: 20px
}

#checkerboard .box {
    background-color: rgb(255, 180, 83);
    border-radius: 5px;
    position: absolute;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    text-shadow: 0 0 3px rgba(125, 125, 125, 0.7);
    box-shadow: 0 0 3px #111112;
    box-sizing: border-box;
    z-index: 9
}

#checkerboard .role {
    border-radius: 5px;
    position: absolute;
    z-index: 10;
    box-sizing: border-box;
    border: 3px solid rgb(255, 255, 255);
    background-color: rgb(220, 68, 222);
    text-align: center;
    font-weight: 800;
    font-size: 18px;
    transition: top .3s, left .3s
}

#boy {
    border: 2px solid rgb(0, 85, 255)
}

#girl {
    border: 2px solid rgb(255, 47, 47)
}

#boy,
#girl {
    height: auto;
    border-radius: 5px;
    position: absolute;
    z-index: 10;
    box-sizing: border-box;
    transition: top .3s, left .3s
}

.rule {
    width: 200px;
    height: 200px;
    position: absolute;
    background-color: #656569;
    left: calc((100% - 200px) / 2);
    border-radius: 5px
}

.rule .title {
    width: 100px;
    height: 40px;
    background-color: #ff8d46;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 5px;
    position: absolute;
    top: -20px;
    left: calc((200px - 100px) / 2)
}

.rule .content {
    width: 150px;
    position: absolute;
    top: 30px;
    left: calc((200px - 120px) / 2)
}

.dice {
    width: 80px;
    height: auto;
    position: absolute;
    z-index: 9;
    bottom: 0;
    left: calc((200px - 80px) / 2);
    filter: drop-shadow(0 0 5px #313136)
}

@keyframes throb {
    50% {
        transform: scale(1.3)
    }
}

.showTask {
    width: 100vw;
    height: 100vh;
    background-color: #3131369f;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    display: none
}

@keyframes showTask {
    0% {
        transform: scale(0.3)
    }
}

.showTask .card {
    width: 250px;
    height: 250px;
    background-color: #ff8d47;
    border-radius: 30px;
    position: absolute;
    top: 250px;
    left: calc((100% - 250px) / 2);
    animation: showTask .3s
}

.showTask .card>* {
    width: 200px;
    position: absolute;
    left: 25px
}

.showTask .card .title {
    height: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    top: 20px
}

.showTask .card .content {
    font-size: 18px;
    text-align: center;
    line-height: 25px;
    top: 80px
}

.showTask .card .receive {
    width: 150px;
    height: 40px;
    bottom: 20px;
    border: 2px solid white;
    background-color: white;
    border-radius: 5px;
    left: 50px;
    font-size: 16px;
    color: #ff6200;
    font-weight: 700
}

#home {
    position: fixed;
    top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 450px;
    /* overflow-y: scroll; */
}

#home>div {
    width: 60vw;
    height: 25vw;
    background-color: #f27a46;
    border-radius: 10px;
    text-align: center;
    line-height: 25vw;
    margin: 20px 10px;
    font-weight: 700;
    font-size: 22px;
    clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 97% 78%, 68% 100%, 32% 100%, 3% 78%, 0% 43%, 17% 12%)
}

#home>div>p {
    font-size: 12px;
    transform: scale(0.9);
    line-height: 10px;
    font-weight: normal;
    margin-top: -30px;
    color: #ff8255
}

#home>div>p[white] {
    color: white
}

.headline {
    width: 100%;
    position: fixed;
    top: 20px;
    z-index: 99
}

.headline>* {
    position: absolute
}

.headline .title {
    width: 210px;
    left: calc((100% - 210px) / 2);
    text-align: center;
    font-size: 16px;
    top: 3px
}

.headline a {
    color: #f27a46;
    text-decoration: none;
    font-weight: 800;
}

.headline .title span {
    color: #ff8c5a;
    font-weight: 800;
    font-size: 16px !important
}

.headline .title span[white] {
    color: white
}

.headline .title p {
    display: block
}

.headline .back {
    width: 28px;
    left: 20px
}

.headline .showMusic {
    width: 35px;
    right: 20px
}

[mark="disabled"] {
    background-color: #5a5a5d !important
}

.customOperate {
    width: 100vw;
    height: 100vh;
    background-color: #3131369f;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap
}

.customOperate .title {
    text-align: center;
    color: #fbf4f4;
    font-size: 18px;
    font-weight: 800;
    text-shadow: 0 0 5px black;
    border: 3px solid rgb(255, 71, 71);
    border-radius: 3px;
    padding: 5px
}

.customOperate .title>span {
    font-weight: normal;
    font-size: 14px;
    margin-top: 10px;
    display: block
}

.customOperate .customContent {
    width: 300px;
    height: 300px;
    overflow: scroll;
    background-color: white;
    text-align: center;
    padding: 10px;
    border: 2px solid #ff8234;
    border-radius: 3px;
    font-weight: 700;
    font-size: 16px;
    z-index: 9;
    margin-top: -150px;
    animation: showTask .3s
}

.customOperate .customContent:focus {
    outline-color: #ff6200
}

.customOperate .affirmCustom {
    width: 150px;
    height: 45px;
    border: none;
    background-color: white;
    color: #ff6200;
    font-weight: 800;
    font-size: 17px;
    border-radius: 5px;
    margin-top: -200px
}

.musicMenu {
    width: 160px;
    height: 90px;
    background-color: #ffffff;
    position: fixed;
    z-index: 100;
    top: 65px;
    right: 20px;
    border-radius: 5px;
    transform-origin: 0% 0%;
    animation: musicMenu .3s;
    display: none
}

@keyframes musicMenu {
    0% {
        transform: scaleY(0)
    }
}

.musicMenu .title {
    width: 100%;
    padding: 0 5px;
    text-align: center;
    color: #cd00ff;
    margin-top: 10px;
    font-weight: 800;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.operate {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 15px
}

.operate>img {
    width: 20%;
    background-color: #f07dff;
    border-radius: 3px
}

.author,
.proceeds {
    width: 16%;
    height: auto;
    position: fixed;
    bottom: 10px;
    left: 2%;
    border-radius: 3px;
    transition: width .2s, left .2s
}

.proceeds {
    left: 19%
}

.multiOperate {
    width: 100vw;
    height: 100vh;
    background-color: #3131369f;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    display: none
}

.multiOperate .multiNum {
    width: 300px;
    height: 60px;
    overflow: scroll;
    background-color: white;
    text-align: center;
    border: 2px solid #ff8234;
    color: #ff6200;
    border-radius: 3px;
    font-weight: 700;
    z-index: 9;
    position: absolute;
    top: 300px;
    left: calc((100% - 300px) / 2);
    font-size: 25px;
    animation: showTask .3s
}

.multiOperate .customContent:focus {
    outline-color: #ff6200
}

.multiOperate .affirmMulti {
    width: 180px;
    height: 50px;
    border: none;
    background-color: white;
    color: #ff6200;
    font-weight: 800;
    border-radius: 5px;
    position: absolute;
    top: 400px;
    left: calc((100% - 180px) / 2);
    font-size: 18px
}

.showPosture {
    width: 100vw;
    height: 100vh;
    background-color: #17171acf;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap
}

.showPosture>* {
    width: 90%;
    text-align: center
}

.showPosture span {
    color: rgb(255, 132, 32);
    font-weight: 800
}

.showPosture .postureName {
    font-size: 30px;
    font-weight: 800;
    color: rgb(255, 132, 32)
}

.showPosture .postureImg {
    border-radius: 10px
}

.showPosture .howPosture,
.showPosture .whyPosture,
.showPosture .hotPosture {
    border: 1px solid rgb(255, 161, 84);
    border-radius: 3px;
    padding: 5px;
    box-sizing: border-box
}

.showPosture .affirmPosture {
    width: 180px;
    height: 50px;
    border: none;
    background-color: white;
    color: #ff6200;
    font-weight: 800;
    border-radius: 5px;
    font-size: 18px
}

.showEros {
    width: 100vw;
    height: 100vh;
    background-color: #17171acf;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    display: none
}

.showEros .title {
    width: 200px;
    text-align: center;
    position: absolute;
    top: 150px;
    left: calc((100% - 200px) / 2);
    color: #ff6200;
    font-size: 25px;
    font-weight: 800
}

.showEros .erosContent {
    width: 70%;
    height: auto;
    border: 2px solid rgb(255, 161, 84);
    padding: 5px;
    box-sizing: border-box;
    position: absolute;
    top: 200px;
    left: calc((100% - 70%) / 2)
}

.showEros .affirmEros {
    width: 180px;
    height: 50px;
    border: none;
    background-color: white;
    color: #ff6200;
    font-weight: 800;
    border-radius: 5px;
    font-size: 18px;
    position: absolute;
    z-index: 2;
    top: 420px;
    left: calc((100% - 180px) / 2)
}

[hide] {
    display: none !important
}

.refresh {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 40px;
}

.exclusive {
    position: fixed;
    bottom: 30px;
    left: 20px;
    color: #f27a46;
    text-decoration: none;
    font-weight: 800;
    font-size: 20px;
}

.exclusive a {
    color: #f27a46;
    text-decoration: none;
    font-weight: 800;
    font-size: 20px;
}

.bulletin {
    width: 100vw;
    height: 100vh;
    background-color: #0e0e0ff1;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
}

.bulletin .title {
    width: 200px;
    text-align: center;
    position: absolute;
    top: 150px;
    left: calc((100% - 200px) / 2);
    color: #ff6200;
    font-size: 40px;
    font-weight: 800
}

.bulletin .bulletinContent {
    width: 90%;
    height: auto;
    border: 2px solid rgb(255, 161, 84);
    padding: 10px;
    box-sizing: border-box;
    position: absolute;
    top: 220px;
    font-size: 18px;
    left: calc((100% - 90%) / 2);
}

.bulletin .bulletinContent span {
    color: #ff6200;
    font-weight: 700;
}

.bulletin .bulletinContent a {
    color: #ff6200;
    font-weight: 700;
    text-decoration: none;
}

.bulletin .bulletinContent p {
    margin-top: 15px;
}

.bulletin .affirmBulletin {
    width: 300px;
    height: 50px;
    border: none;
    background-color: white;
    color: #ff6200;
    font-weight: 800;
    border-radius: 5px;
    font-size: 18px;
    position: absolute;
    top: 550px;
    left: calc((100% - 300px) / 2);
}

.bulletin .feedback {
    width: 240px;
    height: 50px;
    font-weight: 800;
    border-radius: 5px;
    font-size: 18px;
    position: absolute;
    top: 50px;
    left: 20px;
    text-align: center;
    border: 2px solid rgb(255, 156, 102);
}

.bulletin .sendFeedback {
    width: 80px;
    height: 50px;
    border: none;
    background-color: white;
    color: #ff6200;
    font-weight: 800;
    border-radius: 5px;
    font-size: 18px;
    position: absolute;
    top: 52px;
    left: 295px;
}

.copyText {
    opacity: 0;
    position: fixed;
    z-index: -9;
    top: -1000px;
    left: -1000px;
}

.hint {
    width: 222px;
    top: 30px;
    z-index: 999;
    padding: 15px 10px;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 18px;
    position: fixed;
    left: calc((100% - 222px) / 2);
    background-color: #ff6523f5;
    border: 2px solid #ff5e19;
    text-align: center;
    animation: hint .2s;
}

@keyframes hint {
    0% {
        top: -30px;
        opacity: 0.5;
    }
}

.collect {
    color: #ff793f;
    font-size: 18px;
    width: 40px;
    padding: 10px;
    position: fixed;
    bottom: 50px;
    right: 0px;
    font-weight: 800;
}

/* https://c.runoob.com/front-end/52/ */